.links {
    *zoom: 1;
    padding: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #313131;
}

.links:before, .links:after {
    content: "";
    display: table;
}

.links:after {
    clear: both;
}

.link-effect-1 {
    text-align: center;
}

.link-effect-1 a {
    -moz-perspective: 900px;
    -webkit-perspective: 900px;
    perspective: 900px;
    color: white;
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    width: 210px;
    padding: 0 20px 10px;
}

.link-effect-1 a span {
    position: relative;
    background: #dc9d36;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
     vertical-align: auto;
     zoom: 1;
     display: inline;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.link-effect-1 a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    content: attr(data-hover);
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
}

.link-effect-1 a:hover span {
    -moz-transform: rotateX(90deg) translateY(-22px);
    -ms-transform: rotateX(90deg) translateY(-22px);
    -webkit-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.link-effect-1 a:hover span::before {
    background: #333;
}


.link-effect-1 button {
    -moz-perspective: 900px;
    -webkit-perspective: 900px;
    perspective: 900px;
    color: white;
    display: inline-block;
    overflow: hidden;
    width: 136px;
    font-size: 18px;
}


.link-effect-1 button span {
    position: relative;
    line-height: 41px;
    height: 45px;
    background: #cc9900;
    width: 100%;
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.link-effect-1 button span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    content: attr(data-hover);
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
}

.link-effect-1 button:hover span {
    -moz-transform: rotateX(90deg) translateY(-22px);
    -ms-transform: rotateX(90deg) translateY(-22px);
    -webkit-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.link-effect-1 button:hover span::before {
    background: #333;
}

.reg_button01 button:after {
    display: none
}

.reg_button01 button {
    background: none;
    border: 0;
}


/* Effect 5: same word slide in */
.link-effect-2 {
    overflow: hidden;
}

.link-effect-2 a {
    padding: 0;
}

.link-effect-2 a span {
    position: relative;
    display: inline-block;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 100px;
}

.link-effect-2 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.link-effect-2 a:hover span {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.link-effect-3 a {
    padding: 10px 0;
    margin: 0 20px;
    color: #5c5c5c;
    text-shadow: none;
    position: relative;
}

.link-effect-3 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    border-bottom: 2px solid #79D839;
    color: #79D839;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.link-effect-3 a:hover::before {
    max-width: 100%;
}

.link-effect-4 a {
    padding: 0 10px;
    margin: 0 20px;
    color: #797878;
    text-shadow: none;
    position: relative;
}

.link-effect-4 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

.link-effect-4 a:hover::before {
    max-height: 100%;
}

.link-effect-5 a {
    padding: 0 10px;
    margin: 0 20px;
    color: #797878;
    text-shadow: none;
    position: relative;
}

.link-effect-5 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 10px;
    color: #fff;
    content: attr(data-hover);
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
}

.link-effect-5 a:hover::before {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.link-effect-6 a {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    text-shadow: none;
    margin: 0 20px;
}

.link-effect-6 a::before {
    color: #797878;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.link-effect-6 a:hover::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

.link-effect-7 {
    -moz-perspective: 900px;
    -webkit-perspective: 900px;
    perspective: 900px;
}

.link-effect-7 a {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    text-shadow: none;
    margin: 0 20px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-7 a::before {
    color: white;
    content: attr(data-hover);
    position: absolute;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.link-effect-7 a:hover {
    color: #797878;
}

.link-effect-7 a:hover::before {
    -moz-transform: translateY(22px) rotateX(-90deg);
    -ms-transform: translateY(22px) rotateX(-90deg);
    -webkit-transform: translateY(22px) rotateX(-90deg);
    transform: translateY(22px) rotateX(-90deg);
}

.link-effect-8 a {
    color: #797878;
    margin: 0 20px;
    padding: 5px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect-8 a::before {
    height: 2px;
    width: 100%;
    background: #797878;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-8 a::after {
    height: 2px;
    width: 100%;
    background: #797878;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-8 a:hover {
    color: white;
}

.link-effect-8 a:hover::before {
    visibility: visible;
    top: 100%;
    background: white;
}

.link-effect-8 a:hover::after {
    visibility: visible;
    top: 0;
    background: white;
}

.link-effect-9 a {
    color: #797878;
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect-9 a::after {
    height: 2px;
    width: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-9 a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.link-effect-10 a {
    color: #797878;
    margin: 0 20px;
    padding: 10px;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect-10 a span::before {
    height: 100%;
    width: 2px;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a span::after {
    height: 100%;
    width: 2px;
    background: white;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a::before {
    height: 2px;
    width: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a::after {
    height: 2px;
    width: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-10 a:hover {
    color: white;
}

.link-effect-10 a:hover::before, .link-effect-10 a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.link-effect-10 a:hover span::before, .link-effect-10 a:hover span::after {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.link-effect-11 a {
    color: #797878;
    margin: 0 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect-11 a span::before {
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.link-effect-11 a span::after {
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.link-effect-11 a::before {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-11 a::after {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-11 a:hover {
    color: white;
}

.link-effect-11 a:hover::before, .link-effect-11 a:hover::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-effect-11 a:hover span::before, .link-effect-11 a:hover span::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-effect-12 a {
    color: #797878;
    margin: 0 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.link-effect-12 a span::before {
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.link-effect-12 a span::after {
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-transition: 0.1s 0.2s;
    -o-transition: 0.1s 0.2s;
    -webkit-transition: 0.1s;
    -webkit-transition-delay: 0.2s;
    transition: 0.1s 0.2s;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.link-effect-12 a::before {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-transition: 0.1s 0.3s;
    -o-transition: 0.1s 0.3s;
    -webkit-transition: 0.1s;
    -webkit-transition-delay: 0.3s;
    transition: 0.1s 0.3s;
}

.link-effect-12 a::after {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-transition: 0.1s 0.1s;
    -o-transition: 0.1s 0.1s;
    -webkit-transition: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition: 0.1s 0.1s;
}

.link-effect-12 a:hover {
    color: white;
}

.link-effect-12 a:hover::before, .link-effect-12 a:hover::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-effect-12 a:hover span::before, .link-effect-12 a:hover span::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-effect-13 a {
    color: #797878;
    margin: 0 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s 0.3s;
    -o-transition: ease-out 0.3s 0.3s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.3s;
    transition: ease-out 0.3s 0.3s;
}

.link-effect-13 a span::before {
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-13 a span::after {
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-13 a::before {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-13 a::after {
    width: 2px;
    height: 100%;
    background: white;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-13 a:hover {
    color: white;
}

.link-effect-13 a:hover::before, .link-effect-13 a:hover::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-effect-13 a:hover span::before, .link-effect-13 a:hover span::after {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-effect-14 a {
    color: #797878;
    margin: 0 20px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.link-effect-14 a span::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.link-effect-14 a span::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.link-effect-14 a::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid white;
    border-top: 2px solid white;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.link-effect-14 a::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.link-effect-14 a:hover {
    color: white;
}

.link-effect-14 a:hover::before {
    opacity: 1;
    right: 5px;
    top: 5px;
}

.link-effect-14 a:hover::after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
}

.link-effect-14 a:hover span::before {
    opacity: 1;
    left: 5px;
    top: 5px;
}

.link-effect-14 a:hover span::after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
}


.list_site {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: -3px;
}

.list_site li {
    width: 12.1%;
    display: inline-block;
    height: 97px;
    margin: 0;
}

.list_site li a {
    line-height: 122px;
    display: block;
    height: 90px;
    font-size: 18px;
}


.tags_smils {
    position: absolute;
    left: 260px;
    bottom: 35px;
    z-index: 9;
}


.cc_button {
    width: 22px;
    height: 22px;
    background: url(../img/smile-face-button.png)no-repeat;
    border: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 9999;
}

.cc_button:after {
    display: none
}

.smiley-face {
    width: 307px;
    height: 132px;
    padding: 10px 7px;
    background: #cc9900;
    position: absolute;
    top: 33px;
    left: 0;
    border-radius: 5px;
    border: 1px solid 8px;
    z-index: 9999;
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
    visibility: hidden;
    opacity: 0;
}

.sho {
    visibility: visible;
    opacity: 1
}

.smiley-face * {
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
}

.top_person {
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
}

.top_person * {
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
}


.smiley-face .mCSB_scrollTools .mCSB_dragger {
    width: auto
}

.smiley-face .mCSB_scrollTools .mCSB_draggerRail {
    margin: 0
}

.smiley-face .mCSB_scrollTools .mCSB_draggerContainer {
    width: 8px
}

.smiley-face:before {}

.smiley-face:before {
    bottom: 100%;
    left: 2px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #cc9900;
    border-width: 10px;
    margin-left: 0;
    top: -19px;
}


.smiley-face a {
    width: 25px;
    height: 25px;
    margin: 2px;
    margin-bottom: 5px;
    overflow: hidden;
    display: inline-block;
}


/* .smiley-face a:nth-of-type(8n+8){ margin-left:0 }*/

.smiley-face a img {
    width: 100%;
    height: 100%
}

.text_are img, #content_1 img {
    width: 25px
}

[contenteditable] {
    border: 1px solid #000;
    margin: 0.4em 0;
    line-height: 1.4em;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.selectable-icons img {
    cursor: pointer;
}








/*____________________*/

input[type=radio].css-checkbox9 {
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;

}

input[type=radio].css-checkbox9+label.css-label9 {
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: none;
    float: right;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    text-indent: 20px;
    width: 9px;
    margin-top: 5px;
    margin-left: 5px;
    display: none;
}

input[type=radio].css-checkbox9:checked+label.css-label9 {
    background-position: right -9px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

label.css-label9 {
    background: url(../img/radio.png) right top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}


input[type=radio].css-checkbox9+label.css-label9 span {
    color: #ea3852;
    border: 1px solid #6c6c6c;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
}

#tabs .tabs>div {
    max-width: 300px;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
}

#tabs .active {
    background: #663300 !important;
    color: #fff !important;
    pointer-events: none;
}

.sho {
    opacity: 1;
    visibility: visible;
    height: auto
}

.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.tabs {
    text-align: center
}


.auto_complete2 {
    color: #ffffff;
    background: #d59633;
    list-style-type: none;
    margin-bottom: 0;
    border-top: 0;
    position: absolute;
    width: 100%;
    top: 44px;
    padding: 5px 0;
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
    display: none;

}

.auto_complete2 li {
    margin-left: 0;
    line-height: 39px;
    text-align: right;
    float: none !important;
    cursor: pointer;
    padding: 1px 7px;
    font-size: 18px;
    font-weight: bold;
}

.auto_complete2 li:hover {
    background: #5cb536;
    color: #fff;
}




.link-effect_lin a {
    line-height: 45px;
    width: 140px;
    height: 55px;
    padding: 0;
    text-align: center;
}

.link-effect_lin a span {
    line-height: 39px;
    height: 45px;
    border-radius: 0;
}

.link-effect_lin a span::before {
    line-height: 39px;
    height: 45px;
    background: #c7955a;
    content: attr(data-hover);
    border-radius: 0;
}

.link-effect_lin a:hover span::before {
    background: #c7955a;
}

.link-effect_lin {
    text-align: right;
    padding: 0 20px
}